#welcome {
  @apply w-3/5 max-md:w-[90%] m-auto space-y-5;

  h1 {
    @apply text-4xl text-center pb-7;
  }

  p {
    @apply text-xl md:w-9/12 max-md:px-4 m-auto py-10;
  }

  img {
    @apply m-auto rounded-lg max-md:w-4/5;

    &.img-jump {
      width: 95% !important;
    }
  }
}

#services {
  @apply mt-4 max-md:w-full max-md:px-5 space-y-5 m-auto md:w-3/5;

  div {
    @apply space-y-5 md:w-9/12 max-md:p-2 m-auto;

    p > strong {
      @apply text-2xl;
    }

    ul {
      @apply list-none list-inside text-2xl space-y-4;

      li > p > strong {
        @apply ml-2 text-xl;
      }
    }
  }
}

#about {
  @apply my-10 w-3/5 max-md:w-[90%] max-md:px-4 m-auto space-y-10 text-right;

  p,
  p > strong {
    @aplly text-2xl;
  }
}

img {
  @apply m-auto rounded-lg max-md:w-4/5;
}

/* ✓ section */
.checklist {
  padding: 20px;
  border-radius: 10px;
  direction: rtl;
  font-weight: bold;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}
.checklist-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.checkbox {
  width: 40px;
  height: 40px;
  border: 4px solid var(--accent-color);
  border-radius: 50%;
  margin-left: 10px;
  position: relative;
}
.checkbox::after {
  content: "✓";
  color: var(--accent-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (width<=45.625rem) {
  .checklist {
    flex-direction: column;
    display: flex;
    gap: 0.5rem;
  }
  .checkbox {
    border-width: 2px;
  }
  .checkbox::after {
    font-size: 1rem;
  }
}
