img {
  transform: scale(0); /* Start scaled down */
  transition: transform 1s ease-in-out; /* Smooth transition */
  will-change: transform;
  @apply shadow-xl shadow-slate-900 border-2 border-[#004aad] ring-2 ring-[#004badc4] rounded-lg;

  &.logo {
    @apply shadow-none border-0 ring-0;
  }

  &#lifeguard {
    @apply m-auto mt-10 md:w-[55vw] max-md:w-5/6;
  }

  &.img-jump {
    @apply m-auto;
  }
}

@media (min-width: 768px) {
  img {
    transition: transform 2s ease-in-out; /* Smooth transition */
  }
}
