/* imports */
@import "layout.css";
@import "typography.css";
@import "images.css";
@import "home.css";
@import "courses.css";
@import "savers.css";

/* fonts */

/* varela-round-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/varela-round-v20-hebrew_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @apply md:scroll-pt-32 scroll-pt-24;
}

p,
h1,
input,
form,
strong {
  direction: rtl;
}

p {
  font-family: "Varela Round", sans-serif;
  font-size: 1.2rem;
}

/* hamburger  */

#hamburger .line {
  width: 35px;
  height: 5px;
  border-radius: 10px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger:hover {
  cursor: pointer;
}

.hamburger-1.open .line:nth-child(2) {
  opacity: 0;
}

.hamburger-1.open .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

.hamburger-1.open .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}
