/* imports */
@import "layout.css";
@import "typography.css";
@import "images.css";
@import "home.css";
@import "courses.css";
@import "savers.css";

/* fonts */

/* varela-round-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/varela-round-v20-hebrew_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @apply md:scroll-pt-32 scroll-pt-24;
}

p,
h1,
input,
form,
strong {
  direction: rtl;
}

p {
  font-family: "Varela Round", sans-serif;
  font-size: 1.2rem;
}
