p,
h1,
input,
form,
strong {
  direction: rtl;
}

p {
  font-family: "Varela Round", sans-serif;
  font-size: 1.2rem;
}

.link {
  @apply cursor-pointer text-neutral-100 hover:text-zinc-400 transition-all duration-300 h-fit;
}
